<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
    {{#if title }}
    <h1>Раздел: {{ title }}</h1>
    {{else}}
    <h1>Главная</h1>
    {{/if}}

    <form method="POST" action="/">
        <p><select name="select" multiple>
                <option selected value="head">Главная</option>
                <option value="politics">Политика</option>
                <option value="economy">Экономика</option>
                <option value="society">Общество</option>
            </select>
            <br>
            <select name="counte" multiple>
                {{#if counte }}
                <option selected value="{{ counte }}">Old: {{ counte }}</option>
                {{/if}}
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="99">All</option>
            </select>

        </p>
        <button type="submit">Запрость новости</button>
    </form>

    <ul>
        {{#each news}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

</body>

</html>